:root {
    --cor-fundo: #f1bcbc;
    --cor-fundo-2: #d17272;
    --cor-forms: #b71414;
    --cor-texto: #6e1c1c;
    --cor-erro: #ff0000;
    --cor-sucesso: #00ff00;
}
* {
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

main {
    padding: 1%;
    gap: 1%;
    border-radius: 10%;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    background-color: var(--cor-fundo-2);
}

#form-login {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
}

#form-login input {
    padding: 5px;
    border: solid var(--cor-texto);
}

#form-login button {
    border: solid var(--cor-texto);
    background-color: var(--cor-forms);
}

#form-login button:hover {
    background-color: var(--cor-texto);
}

.toggle{
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: var(--cor-texto);
}

.erro {
    color: var(--cor-erro);
    font-size: 12px;
    text-align: center;
}

.sucesso {
    color: var(--cor-sucesso);
    font-size: 12px;
    text-align: center;
}